$primary-color : #ffa200 ;

.header {
    background-color: #383838;
    padding: 1rem;
    font-weight: bold;
  }

.navbar, .LanguageIcon {
 color: $primary-color;
 font-size: 30px;
}

  .container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
  }

  .nav-links {
    position: static;
    min-width: 1000px;
    min-height: 100%;
    right: 0;
    top: -100%;
    width: auto;
    @media (min-width: 1000px) {
      position: absolute;
      background-color: #383838;
      min-height: 100%;
      right: 0;
      top: -100%;
      width: auto;
    }
  }

  .navContainer-linkn {
    flex: 1;
    @media (min-width: 1000px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4vw;
    }
    gap: 2rem;
    color: white;
  }

  .linkn {
    color: white;
    text-decoration: none;
    margin-right: 1rem; 
    &:hover {
      color: #FF8C32; 
    }
  }

  .navContainer-linkn li {
    list-style: none;
  }
  